/***********CSS RESET***********/
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
*/
* {
    margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
    7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/********************MY STYLING**********************/
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

/******************styling for hero section***************/
#hero {
    background-image: url('images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(193, 100%, 96%);
    padding: 50px 90px;
}

#hero nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

#hero nav img {
    height: 40px;
    align-self: end;
}

#hero section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

#hero section #about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: center;
}

#hero section #image {
    justify-self: end;
}

#hero section #about h1 {
    font-size: 50px;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}

#hero section #about p {
    color: hsl(192, 100%, 9%);
    font-size: 23px;
}

#hero section #about button {
    align-self: start;
    border: 0;
    padding: 20px 70px;
    font-size: 15px; 
    font-weight: 700;
    color: white;
    background-color: hsl(322, 100%, 66%);
    border-radius: 30px;
}

#hero nav button {
    border: 0;
    padding: 12px 50px;
    font-size: 15px; 
    font-weight: 700;
    color: black;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 12px 1px hsl(208, 11%, 85%);
}


/***************************************styling for main section***************************/
main {
    padding: 120px 60px;
}

.main-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 2px 2px 10px 5px hsl(208, 11%, 85%);
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 70px;
    gap: 100px;
}

.main-div div {
    align-self: center;
    margin-left: 50px;
} 

.main-div div h2 {
    font-size: 45px;
    margin-bottom: 10px;
    color: hsl(192, 100%, 9%);
}

.main-div div p {
    font-size: 25px;
    color: hsl(192, 100%, 9%);
}

#last-main-div {
    margin-bottom: 150px;
}

/****************************styling for footer section*********************/
footer {
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
    position: relative;
    padding: 120px 80px 50px 80px;
    font-family: 'Open Sans', sans-serif;
}

footer #get-started {
    background-color: white;
    box-shadow: 2px 2px 10px 5px hsl(208, 11%, 85%);
    width: 700px;
    padding: 70px 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    text-align: center;
    margin-top: -250px;
}

footer #get-started h2 {
    color:hsl(192, 100%, 9%);
    font-size: 35px;
    margin-bottom: 20px;
}

footer #get-started button {
    align-self: start;
    border: 0;
    padding: 20px 70px;
    font-size: 15px; 
    font-weight: 700;
    color: hsl(193, 100%, 96%);
    background-color: hsl(322, 100%, 66%);
    border-radius: 30px;
}

footer section #other-info a {
    color: hsl(193, 100%, 96%);
    text-decoration: none;
}

footer section #other-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: start;
    justify-self: center;
    align-self: center;
    column-gap: 100px;
    row-gap: 20px;
}

footer section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer section #contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer section #media {
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 30px;
}

footer section #media i {
    color: white;
}

footer .contact-div {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

footer .contact-div img {
    margin-top: 5px;
}

footer > p {
    text-align: right;
    margin-top: 20px;
}

footer section #contact > img {
    width: 200px;
}

/***************************Media Queries*********************/
@media screen and (max-width: 1308px) {
    #hero section #about h1 {
        font-size: 47px;
    }

    #hero section #about p {
        font-size: 27px;
    }

    .main-div div h2 {
        font-size: 42px;
    }
    
    .main-div div p {
        font-size: 22px;
    }
    
}

@media screen and (max-width: 1300px) {
    #hero section #about h1 {
        font-size: 45px;
    }

    #hero section #about p {
        font-size: 25px;
    }
}


@media screen and (max-width: 1250px) {
    #hero section #image {
        align-self: center;
    }

    #hero section #about h1 {
        font-size: 40px;
    }

    #hero section #about p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1160px) {
    .main-div div h2 {
        font-size: 37px;
    }
    
    .main-div div p {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 1400px) {
    footer section #other-info {
        column-gap: 50px;
    }
}

@media screen and (max-width: 1101px) {
    #hero {
        padding: 50px 50px;
    }

    #hero section {
        grid-template-columns: 1fr;
        padding: 70px;
    }

    #hero section #about {
        text-align: center;
        margin-bottom: 50px;
    }

    #hero section button {
        margin: auto;
    }

    #hero section #image {
        align-self: unset;
    }

    #hero section #about h1 {
        font-size: 55px;
    }

    #hero section #about p {
        font-size: 30px;
    }

    main .main-div {
        grid-template-columns: 1fr;
    }

    main .main-div > div {
        text-align: center;
        order: 2;
        margin-left: 0;
    }

    .main-div div h2 {
        font-size: 50px;
    }
    
    .main-div div p {
        font-size: 28px;
    }

    footer section .contact-div img {
        align-self: center;
    }

    footer section #location img {
        align-self: start;
    }

    footer section .contact-div {
        gap: 20px;
    }

    footer {
        font-size: 30px;
    }

    footer section {
        grid-template-columns: 1fr;
    }

    footer section #other-info {
        grid-template-columns: 1fr;
        margin-left: 0;
        justify-self: left;
        margin-top: 70px;
    }

    footer section .contact-div {
        gap: 0;
        grid-template-columns: 1fr 15fr;
    }

    footer section #media {
        justify-self: center;
        margin-bottom: -150px;
    }

    footer > p {
        text-align: center;
        margin-top: 100px;
    }
}

@media screen and (max-width: 1060px) {
    footer section #other-info {
        margin-left: 30px;
        column-gap: 30px;
    }
}

@media screen and (max-width: 800px) {
    #hero nav img {
        height: 30px;
    }

    #hero section {
        padding: 20px;
    }

    #hero section #about h1 {
        font-size: 40px;
    }

    #hero section #about p {
        font-size: 22px;
    }

    .main-div > div h2 {
        font-size: 35px;
    }

    .main-div > div p {
        font-size: 20px;
    }

    footer section #other-info {
        margin-left: 0;
    }

    footer section .contact-div {
        gap: 15px;
    }

    footer #get-started {
        width: 90%;
    }

    footer {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    footer #get-started {
        padding: 40px;
    }
}

@media screen and (max-width: 551px) {
    #hero nav img {
        height: 28px;
    }

    #hero section {
        padding: 14px;
    }

    #hero section #about h1 {
        font-size: 35px;
    }

    #hero section #about p {
        font-size: 20px;
    }

    .main-div > div h2 {
        font-size: 32px;
    }

    .main-div > div p {
        font-size: 20px;
    }

    .main-div {
        padding: 20px;
    }

    footer section #other-info {
        margin-left: 0;
    }

    footer section .contact-div {
        gap: 20px;
    }

    footer #get-started {
        width: 90%;
    }

    footer #get-started h2 {
        font-size: 23px;
    }

    footer {
        font-size: 18px;
    }
}

@media screen and (max-width: 501px) {
    #hero nav img {
        height: 26px;
    }

    #hero nav button {
        padding: 5px 20px;
    }

    #hero section {
        padding: 14px;
    }

    #hero section #about h1 {
        font-size: 35px;
    }

    #hero section #about p {
        font-size: 20px;
    }

    .main-div > div h2 {
        font-size: 30px;
    }

    .main-div > div p {
        font-size: 19.5px;
    }

    .main-div {
        padding: 25px;
        gap: 18px;
    }

    footer section .contact-div {
        gap: 20px;
    }

    footer #get-started {
        width: 90%;
    }

    footer #get-started h2 {
        font-size: 23px;
    }

    footer {
        font-size: 18px;
    }
}

@media screen and (max-width: 451px) {

    #hero section {
        padding: 0px;
    }

    footer #get-started button {
        padding: 15px 30px;
    }

    footer {
        font-size: 18px;
        padding-left: 50px;
        padding-right: 50px;
    }

    footer section .contact-div {
        gap: 10px;
    }
}

@media screen and (max-width: 401px) {
    
    #hero {
        padding: 20px;
    }

    #hero section #about h1 {
        font-size: 30px;
    }

    #hero section #about p {
        font-size: 17.5px;
    }

    #hero section #about button {
        padding: 13px 40px;
    }

    main {
        padding-left: 15px;
        padding-right: 15px;
    }

    main .main-div > div p {
        font-size: 17.5px;
    }

    footer {
        font-size: 17.5px;
    }
}

@media screen and (max-width: 340px) {
    #hero nav {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: start;
        justify-items: center;
        gap: 20px;
    }

    #hero nav button {
        padding: 5px 50px;
    }

    footer {
        font-size: 15px;
    }

    footer section {
        margin-top: -10px;
    }

    footer #get-started {
        padding: 15px;
    }
}

@media screen and (max-width: 300px) {
    main .main-div > div p {
        font-size: 14px;
    }

    main .main-div > div h2 {
        font-size: 18px;
    }

    footer {
        font-size: 12px;
    }

    footer #get-started h2 {
        font-size: 18px;
    }

    footer #get-started button {
        padding: 10px 15px;
    }

    #hero section #about > h1 {
        font-size: 22px;
    }

    #hero section #about > p {
        font-size: 16px;
    }

    #hero section #about > button {
        font-size: 13px;
    }
}

@media screen and (max-width: 250px) {
    #hero section #about > button {
        padding: 7px 20px;
    }
}

@media screen and (max-width: 233px) {
    footer #get-started > button {
        font-size: 13px;
        padding: 7px 10px;
    }
}